@import "tailwindcss";

header h3 {
  font-family: "Playwrite VN", cursive;
}

img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
.hero h1{
  font-family: "Poppins", sans-serif;
}